<section class="page-header">
  <a href="http://openchattanooga.com/chamap/map"><img src="https://api.mapbox.com/styles/v1/t9er/cilyvyn6r000j9sm2cnsz3kbe/static/-85.398732,35.051177,13.16,0.00,0.00/1000x400?access_token=pk.eyJ1IjoidDllciIsImEiOiJxeUZmTURjIn0.ZHJTbn3yh5fAcYd6GV0vjQ" width="1000" height="400" alt="ChaMap Master" /> </a>
  <h1 class="project-name">Chamap</h1>
  <h2 class="project-tagline">Because the "Best Outdoor City Ever" deserves the best outdoor recreation map. </h2>
</section>
